@import url('https://fonts.googleapis.com/css?family=Raleway:300');

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.box {
    width: 700px;
    height: 500px;
    background: #333;
    margin: 10px auto;
    color: #f2f2f2;
    font-size: 2em;
    text-align: center;
    padding-top: 75px;
    border-radius: 2px;
    font-family: "Raleway", arial;
}

#intro-box {
  width: 800px;
  height: 1000px;
  background: #333;
  margin: 10px auto;
  color: #f2f2f2;
  font-size: 2em;
  text-align: center;
  padding-top: 75px;
  border-radius: 2px;
  font-family: "Raleway", arial;
}

.content {
    height: 100vh;
    text-align: center;
    background: #f2f2f2;
    padding-top: 30vh;
    color: #888;
    font-family: "Raleway", arial;
}

.content p {
  font-size: 3em;
}

.content b {
  font-style: italic;
}

#catch-phrase {
  font-weight: 900;
  text-decoration: overline underline;
}

/* For blinking effect */
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/*Designs of the navBar */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#nav-symbol {
  cursor: pointer;
  font-size: 100px;
  position: fixed;
}

.intro-bio {
  font-size: 15px;
  padding: 20px;
}

.intro-image {
  position: relative;
  width: 65%;
  margin: 15px;
  transition: 0.5s ease;
  border-radius: 20px;
}

.intro-image:hover {
  opacity: 0.3;
}

.fade-description {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 47.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.image-description {
  color: #fff;
  font-size: 0.5em;
}

.content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
