@import url('https://fonts.googleapis.com/css?family=Raleway:300');

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.box {
    max-width: 825px;
    background: #333;
    margin: 45px auto;
    color: #f2f2f2;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    font-family: "Raleway", arial;
    box-shadow: 0 4px 8px white;
}

#intro-box {
  width: 800px;
  height: 1000px;
  background: #333;
  margin: 10px auto;
  color: #f2f2f2;
  font-size: 2em;
  text-align: center;
  padding-top: 75px;
  border-radius: 2px;
  font-family: "Raleway", arial;
}

.content {
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    color: white;
    font-family: "Raleway", arial;
}

.content p {
  font-size: 3em;
}

.content b {
  font-style: italic;
}

#catch-phrase {
  font-weight: 900;
  text-decoration: overline underline;
}

/* For blinking effect */
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/*Designs of the navBar */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#nav-symbol {
  cursor: pointer;
  font-size: 100px;
  position: fixed;
}

.intro-bio {
  font-size: 18px;
  padding: 15px;
  display: inline-block;
}

.tech {
  font-size: 18px;
  padding: 15px;
  display: inline-block;
}

.entrepreneurship {
  font-size: 18px;
  padding: 15px;
  display: inline-block;

}

.involvements {
  font-size: 18px;
  padding: 15px;
  display: inline-block;
}

.personal {
  font-size: 18px;
  padding: 15px;
  display: inline-block;
}

.quotes {
  font-weight: 900;
  text-align: center;
  font-family: monospace;
}

.fade-description {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 47.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#navimg {
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#facephoto {
  display: inline-block;
  width: 35%;
  border-radius: 25px;
}

#scrolldown {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  font-size: 17px;
}

#languages {
  width: 50%;
  text-align: center;
}

.next-languages {
  width: 30%;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
}

.floatLeft {
  float: left;
  padding-left: 40px;
}

.floatRight {
  float: right;
  padding-right: 40px;
}

#middletext {
  vertical-align: middle;
  text-align: center;
  max-width: 40%;
  display: inline-block;
}

#righttext {
  vertical-align: middle;
  text-align: center;
  max-width: 70%;
  display: inline-block;
  float: left;
}

#lefttext {
  padding: 30px;
  vertical-align: middle;
  text-align: center;
  max-width: 70%;
  display: inline-block;
  float: right;
}

#medias {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  width: 145px;
  length: 145px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#email {
  font-weight: 900;
  color: white;
  font-size: 20px;
  bottom: 50px;
}

#email:link {
  text-decoration: none;
}

#email:hover {
  text-decoration: overline underline;
}
